@font-face {
  font-family: nunito;
  src: url(./fonts/Nunito-VariableFont_wght.ttf);
}

* {
  font-family: 'nunito', sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#container {
  height: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 80px 1fr 60px;
}

#header {
  display: flex;
  flex-direction: row;
  background-color: pink;
  align-items: center;
  justify-content: space-between;
  padding: 0px 32px;
  color: #ffffff;
}

form {
  max-width: 50%;
}

input {
  font-size: 16px;
  padding: 10px 24px;
  border: none;
  border-radius: 6px;
  background-color: rgba(122, 122, 122, 0.589);
  color: white;
  width: 100%;
  font-weight: 600;
}

input::placeholder {
  color: rgb(235, 235, 235);
}

#weather-container {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

#footer {
  background-color: rgb(107, 255, 255);
  display: flex;
}

#toggle-container {
  margin: auto auto auto 18px;
  display: block;
  position: relative;
  top: 2px;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #6b8e92;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #FFF;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {

}

input:checked + .slider:before {
  transform: translateX(26px);
}

#unit-example {
  font-size: 24px;
  position: relative;
  bottom: 14px;
  left: 4px;
  color: #262e30;
}



